* {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

nav a,
footer a {
	font-size: 18px;
	color: white;
}

.design {
	color: white;
	background-image: url("../images/the-flatiron-building.png");
}

footer {
	text-align: left;
	background-color: dimgray;
	color: white;
}

footer span {
	font-size: 11px;
}

header {
	background-image: url("../images/the-flatiron-building.png");
}